---
import Footer from "../component/Footer.jsx";
import Navigation from "../component/Navigation.jsx";
const currentPath = Astro.url.pathname;
import { Image } from "astro:assets";
import avatar from "../assets/avatar.jpeg";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  keywords?: string;
}

const {
  title = "Astro",
  description = "Your default site description here",
  image = "/default-og-image.jpg",
  canonicalURL = Astro.url,
  keywords = "your, default, keywords",
} = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <style>
      /* open-sans-regular - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/open-sans-v40-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* open-sans-500 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/open-sans-v40-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* open-sans-600 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/open-sans-v40-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* open-sans-700 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/open-sans-v40-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* open-sans-800 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        src: url("../fonts/open-sans-v40-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-regular - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-500 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-600 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/montserrat-v29-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-700 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-800 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 800;
        src: url("../fonts/montserrat-v29-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
      /* montserrat-900 - latin */
      @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 900;
        src: url("../fonts/montserrat-v29-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Counter.dev Analytics -->
    <script>
      if (window.location.hostname !== "localhost") {
        const script = document.createElement("script");
        script.async = true;
        script.src = "https://cdn.counter.dev/script.js";
        script.setAttribute("data-id", "88349f0a-4168-4d4c-aa42-2fb124c744f6");
        script.setAttribute("data-utcoffset", "1");
        document.head.appendChild(script);
      }
    </script>
    <!-- End Counter.dev Analytics -->
  </head>
  <body class="font-body flex h-full bg-zinc-50 dark:bg-zinc-950">
    <div class="flex w-full">
      <div class="fixed inset-0 flex justify-center sm:px-8">
        <div class="flex w-full max-w-7xl lg:px-8">
          <div
            class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
          >
          </div>
        </div>
      </div>
      <div class="relative flex w-full flex-col">
        <header class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-0">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <Navigation currentPath={currentPath} client:load>
                <Image
                  src={avatar}
                  alt="avatar"
                  class="w-16 h-16 rounded-full"
                />
              </Navigation>
            </div>
          </div>
        </header>
        <slot />
        <Footer />
      </div>
    </div>
  </body>
</html>
